{:aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                               thheller/shadow-cljs {:mvn/version "2.8.40"}
                               binaryage/devtools {:mvn/version "0.9.10"}
                               cljsjs/firebase {:mvn/version "5.7.3-1"}}}}
 :deps
 {rum {:mvn/version "0.11.4"}}}
