rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /signups/{signup} {
      allow create: if true;
    }
  }
}
